.card-spacing {
  padding: 0; /* Remove o padding do card */
}
  
.car-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /*Cobrir toda a area da img*/
  margin: 0; /* remover qualquer margem da img*/
}
  
.card-title {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

.card-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.text-capitalize {
  text-align: justify;
  line-height: 1.6;
}

h2 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.estilizar {
  font-family: 'Bebas Neue', sans-serif;
}

.footer {
  text-align: center;          /* Alinha o texto no centro */
  padding: 20px 0;             /* Espaçamento superior e inferior */
  margin-top: 50px;            /* Espaçamento entre o conteúdo anterior e o footer */
}

.footer p {
  font-size: 14px;             /* Tamanho da fonte */
  color: #6c757d;              /* Cor do texto (cinza claro) */
  margin: 0;                   /* Remove margens extras */ 
}



@media (max-width: 768px) {
  .footer {
    padding: 15px 0;  /* Ajuste do espaçamento para dispositivos móveis */
  }

  .footer p {
    font-size: 12px;  /* Ajuste do tamanho da fonte em telas pequenas */
  }
}

.carousel-item video,
.carousel-item img {
  object-fit: cover;
  height: 400px; /*Ajuste a altura conforme for nessesário melhora a respo*/
}

@media (max-width: 576px) {
  .footer p {
    font-size: 12px; /* usei para reduzir o tamanho da fonte em telas menores*/
  }
}

