.card-spacing {
  padding: 0; /* Remove o padding do card */
}
  
.car-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /*Cobrir toda a area da img*/
  margin: 0; /* remover qualquer margem da img*/
}
  
.card-title {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

.card-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.text-capitalize {
  text-align: justify;
  line-height: 1.6;
}

h2 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.estilizar {
  font-family: 'Bebas Neue', sans-serif;
}

.footer {
  text-align: center;          /* Alinha o texto no centro */
  padding: 20px 0;             /* Espaçamento superior e inferior */
  margin-top: 50px;            /* Espaçamento entre o conteúdo anterior e o footer */
}

.footer p {
  font-size: 14px;             /* Tamanho da fonte */
  color: #6c757d;              /* Cor do texto (cinza claro) */
  margin: 0;                   /* Remove margens extras */ 
}

